* {
  font-family: 'Bebas Neue', sans-serif;
}

.App {
  text-align: center;
  background-color:rgb(0, 0, 0);
  width: 100vw;
}

.movie-list {
  margin-top: 5%;
}

.error-message {
  color: rgb(171, 29, 57);
  font-style:italic;
  font-size: 4vw;
  height: 10em;
  width: 100vw;
}

.error-logo {
  height: 20vh;
  width: 20vw;
  margin: 8em;
}

.redirect-message {
    color: rgb(171, 29, 57);
    font-style:italic;
    font-size: 50px;
    height: 90vh;
    width: 100vw;
}

@media screen and (max-width: 1000px) {
  .error-message {
    font-size: 4.5vw;
  }
  .error-logo {
    height: 24vh;
    width: 24vw;
  } 
}
@media screen and (max-width: 671px) {
  .error-message {
    font-size: 5vw;
  }
  .error-logo {
    height: 26vh;
    width: 26vw;
  } 
}
@media screen and (max-width: 470px) {
  .error-message {
    font-size: 5.5vw;
  }
  .error-logo {
    height: 28vh;
    width: 28vw;
  } 
}
@media screen and (max-width: 376px) {
  .error-message {
    font-size: 6vw;
  }
  .error-logo {
    height: 30vh;
    width: 30vw;
  } 
}
