* {
  font-family: 'Bebas Neue', sans-serif;
}

.App {
  text-align: center;
  background-color:rgb(0, 0, 0);
}

.movie-list {
  margin-top: 10px;
}

.error-message {
  color: rgb(171, 29, 57);
  font-style:italic;
  font-size: 50px;
  height: 50vh;
  width: 100vw;
}

.error-logo {
  height: 250px;
  width: 250px;
  margin: 50px;
}


