.front-movie-card {
  height: 30%;
  width: 20%;
  margin: 1.5%;
  margin-top: 2%;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.front-movie-card:hover { 
  transform: scale(1.1); 
}

@media screen and (max-width: 1190px) {
  .front-movie-card {
    height: 45%;
    width: 30%;
    margin-top: 5%;
  }
}
@media screen and (max-width: 742px) {
  .front-movie-card {
    height: 60%;
    width: 40%;
    margin-top: 5%;
  }
}