* {
  font-family: 'Limelight', cursive;
}

.induvidual-movie-container {
  background-color: #cfe3ec;
  min-height: 90vh;
  min-width: 90vh;
  display: flex;
  align-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 10px;
}

.genre-list {
  font-size: 1.0em;
  margin: 6px;
}

.induvidual-title-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.movie-card {
  width: 50%;
  margin: 10px;
  height: 32%;
}

.movie-details-container {
  text-align: center;
  align-items: center;
  display: flex;
  align-content: center;
}

.rating,
.runtime,
.release,
.genre {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;

}

.tagline {
  font-size: 25px;
  padding: 5px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 5px;
}

.overview {
  width: 80%;
  font-size: 25px;
}

.induvidual-title {
  margin: 10px;
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-style: oblique;
}

button:hover {
  transform: scale(1.1);
}