* {
  font-family: 'Limelight', cursive;
}

.induvidual-movie-container {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 10px;
}

.title-picture-container {
  flex: display;
  text-align: center;
}

.home-button {
  border-radius: 10em;
  margin: 10px;
  height: 10vh;
  width: 20vw;
  font-size: 25px;
  background-color: white;
  color: #282c34;
  transition: all .2s ease-in-out;
}

h2 {
  color: aliceblue;
}

.movie-card {
  width: 50%;
  margin: 10px;
  height: 32%;
}

.induvidual-title {
  margin: 10px;
  font-size: 2.5em;
  text-align: center;
}

.info {
  margin: 10px;
  font-size: 1.2em;
}

button:hover {
  transform: scale(1.1);
}

