
.header-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Limelight', cursive;
  color:aliceblue;
}

img {
  height: inherit;
  width: 200px;
}