
.header-container {
  border-bottom:1px solid rgb(205, 26, 26);
  display: flex;
  background-color:black;
  padding:10px;
  justify-content: space-between;
  margin-left: 10px;
  align-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Limelight', cursive;
  color:rgb(205, 26, 26);
}


img {
  height: inherit;
  width: 200px;
}